<!DOCTYPE html>
<html>
<title>Tic Tac Toe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-content: center;
  grid-gap: 20px;
  background-color: #2196F3;
  padding: 20px;
}

.grid-container > div {
  background-color: #c1d9ff;
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
}

.button {
    background-color: #c1d9ff;
    border: 0;
    color: red;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    
}

.buttonSubmit {
	display: none;
}

.active, .button:hover {
	background-color: red;
	color: white;
}

</style>
</head>

<body>
<br>

<center>

<h1>Tic Tac Toe (aka Noughts & Crosses)</h1>
<i>
	<%= winner_result %>
</i>
<br>
<br>
<div class="grid-container">
  <div>
    <form method="post" action="board">
    <input type="text" name="a1" style="text-align:center;"  size="1" value= <%= a1 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="a2" style="text-align:center;"  size="1" value= <%= a2 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="a3" style="text-align:center;"  size="1" value= <%= a3 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="b4" style="text-align:center;"  size="1" value= <%= b4 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="b5" style="text-align:center;"  size="1" value= <%= b5 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="b6" style="text-align:center;"  size="1" value= <%= b6 %>>
  </div>
  
  <div>
    <form method="post" action="board">
    <input type="text" name="c7" style="text-align:center;"  size="1" value= <%= c7 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="c8" style="text-align:center;"  size="1" value= <%= c8 %>>
  </div>

  <div>
    <form method="post" action="board">
    <input type="text" name="c9" style="text-align:center;"  size="1" value= <%= c9 %>>
   </div> 
    <input type="submit" class="buttonSubmit">
</form>
</div>
</center>
</body>
</html>

